body {
	background: url('images/ghostBackground.jpg');
  	background-size: 100%;
	color: white;
}

h1 {
	text-align: center;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

h1:first-letter {
  text-transform: capitalize; }

#trainerName{
	font-size: 50px;
}

.container {
	width:95%;
	margin:auto;
}

.invisible {
	display: none;
}

.pokeball-horizontal {
	display: none;
	width: ;
}

.grid-horizontal {
	display: grid;
  	grid-template-columns: auto auto auto;
  	width: 80%;
  	position: fixed;
  	bottom: 8%;
  	left: -30%;
  	}

.pokeball-horizontal img {
	width: 50%;
}

.grid-vertical img {
	width: 25%;
	margin-top: 10%;
}

.grid-vertical {
	display: grid;
	grid-auto-columns: auto;
	max-width: 30%;
  	margin-top: 9%;
}

.pokeball, .pokeball-horizontal {
  	animation: MoveUpDown 1s linear infinite;
 	position: relative;
 	left: 68%;
}

.pokeball img {
	cursor: pointer;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 3px;
  }
}

.grid-pokemon {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 30px;
	width: 65%;
	position: relative;
	left: 32%;
	bottom: 500px;
}

#pokemonImage {
	width: 100%;
}

.box {
	margin-top: 3%;
	width: 475px;
	height: 475px;
	overflow-wrap: break-word;
	padding: 12px;
	text-align: center;
	border: 2px #1B1464 solid;
	background-color: #6F1E51;
	color: white;
	border-radius: 8px;
		font-family: 'Eczar', serif;
			box-shadow: 5px 5px black;
			opacity: 0.8;
				font-weight: bold;
					font-size: 1.1em;
}

.trainer {
  position: absolute;
  bottom: 3%;
  left: 0px;
  width: 25%;
}

#pokemon-bio {
	font-size: 20px;
}

.fas {
	font-size: 40px;
}

.stats {
	font-size: 30px;
}

.fa-heartbeat {
	color: #EA2027;
}

.fa-shield-alt {
	color: #FFC312;
}

.fa-hand-rock {
	color: #EE5A24;
}

@media screen and (max-width: 376px) {
	.pokeball {
		display: none;
	}
	.pokeball-horizontal {
		display: block;
	}
	.grid-pokemon {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-gap: 1px;
		left: 1%;
		margin: 0 auto;
		bottom: 0;
	}
	.box {
  		width: 250px;
  		height: 250px;
  		margin-left: -19px;
	 	margin-top: 5px;

	}

	#trainerName {
		font-size: 40px;
	}

	.fas {
		font-size: 20px;
	}

	.stats {
		font-size: 20px;
	}

	#pokemon-bio {
		font-size: 16px;
	}

	#pokemon {
		margin-left: 10%;
		width: 65%;
	}
}
