html {
    font-family: 'Eczar', serif;
}

#personalStory {
  border: 2px black solid;
  max-width: 25%;
  margin-right: -4%;
  padding-top: 9%;
}

#teamStory {
  border: 2px black solid;
  max-width: 25%;
  margin-left: 4%;
  padding-top: 9%;
}

#teamInfo {
  margin: 6% -1%;
}

.scene {
  width: 320px;
  height: 551px;
  position: relative;
  perspective: 1000000000px;
    transition-duration: 2s;
      margin-bottom: -1%;
      margin-left: 12%;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
    transition-duration: 2s;
    margin-left: 15%;
}

.carousel__cell {
  position: absolute;
  width: 300px;
  height: 531px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  text-align: center;
  transition-duration: 2s;
}
/* Walia */
.carousel__cell:nth-child(1) {
  background-image: url("images/waliaBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}
/* Jerry */
.carousel__cell:nth-child(2) {
  background-image: url("images/jerryBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}
/* Ben */
.carousel__cell:nth-child(3) {
  background-image: url("images/benBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}
/* X */
.carousel__cell:nth-child(4) {
  background-image: url("images/xBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}


.carousel__cell:nth-child(1) {
  transform: rotateY(  0deg) translateZ(160px);
}
.carousel__cell:nth-child(2) {
  transform: rotateY( 90deg) translateZ(160px);
}
.carousel__cell:nth-child(3) {
  transform: rotateY( 180deg) translateZ(160px);
}
.carousel__cell:nth-child(4) {
  transform: rotateY(270deg) translateZ(160px);
}

.arrow {
  text-align: center;
  margin-left: 23%;
  background-color: red;
  transition-duration: 1s;
}

.arrow:hover {
  text-align: center;
  background-color: red;
  font-size: 110%;
  transition-duration: 1s;

}

.arrow:focus {
  text-align: center;
  background-color: red;
}

.header {
  font-family: 'Eczar', serif;
  background-color: #ff0741;
  text-align: center;
  margin-bottom: -5%;
}
