html {
    font-family: 'Eczar', serif;
    background-image: url("images/gymBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.personalStory {
  max-width: 34%;
  margin-right: -4%;
  padding-top: 9%;
  padding-bottom: 24%;
}

#personalStory {
  border: 2px #EA2027 solid;
  margin-top: 20%;
  padding: 3%;
  background-color: #006266;
  color: white;
  border-radius: 8px;
  font-family: 'Eczar', serif;
  box-shadow: 5px 5px black;
  opacity: 0.8;
  font-weight: bold;
  font-size: 1.1em;
}

.teamStory {
  max-width: 34%;
  margin-left: 4%;
  padding-top: 9%;
  padding-bottom: 24%;
}

#teamStory {
  border: 2px #EA2027 solid;
  margin-top: 20%;
  padding: 3%;
  background-color: #006266;
  color: white;
  border-radius: 8px;
    font-family: 'Eczar', serif;
      box-shadow: 5px 5px black;
      opacity: 0.8;
        font-weight: bold;
          font-size: 1.1em;
}


#teamInfo {
  margin: 6% -1%;
}

.scene {
  width: 320px;
  height: 551px;
  position: relative;
  perspective: 1000000000px;
    transition-duration: 2s;
      margin-bottom: 4%;
      margin-left: -10%;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
    transition-duration: 2s;
    margin-left: 15%;
}

.carousel__cell {
  position: absolute;
  width: 300px;
  height: 531px;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  text-align: center;
  transition-duration: 2s;
}
/* Walia */
.carousel__cell:nth-child(1) {
  background-image: url("images/waliaBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}
/* Jerry */
.carousel__cell:nth-child(2) {
  background-image: url("images/jerryBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}
/* Ben */
.carousel__cell:nth-child(3) {
  background-image: url("images/benBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}
/* X */
.carousel__cell:nth-child(4) {
  background-image: url("images/xBackground.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 531px;
}


.carousel__cell:nth-child(1) {
  transform: rotateY(  0deg) translateZ(160px);
}
.carousel__cell:nth-child(2) {
  transform: rotateY( 90deg) translateZ(160px);
}
.carousel__cell:nth-child(3) {
  transform: rotateY( 180deg) translateZ(160px);
}
.carousel__cell:nth-child(4) {
  transform: rotateY(270deg) translateZ(160px);
}

.arrow {
  text-align: center;
  margin-left: 19%;
  background-color: #EA2027;
  transition-duration: 1s;
}

.arrow:hover {
  text-align: center;
  background-color: #EA2027;
  font-size: 110%;
  transition-duration: 1s;

}

.arrow:focus {
  text-align: center;
  background-color: #EA2027;
}

.header {
  font-family: 'Russo One', sans-serif;
  background-color: #EA2027;
  text-align: center;
  margin-bottom: -5%;
  box-shadow: 5px 5px black;
  font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width: 899px) {
  .personalStory {
display: none;
  }

  #personalStory {
display: none;
  }

  .teamStory {
display: none;
  }

  #teamStory {
  display: none;
  }
}
