body {
	background-color: green;
}

h1 {
	text-align: center;
}

.container {
	width:90%;
	margin:auto;
}

.invisible img {
	display: none;
}

.grid-horizontal {
	display: grid;
  	grid-template-columns: auto auto auto;
  	position: fixed;
  	bottom: 5%;
  	left: 10%;
}

.grid-horizontal img {
	width: 60%;
}

.grid-vertical img {
	width: 10%;
}

.grid-vertical {
	display: grid;
	grid-auto-columns: auto;
  	margin-top: 15%;
}

.grid-item {
  	animation: MoveUpDown 1s linear infinite;
 	position: relative;
 /*	width: 60%;*/
 	left: 15%;
}

/*.grid-item img {
	width: 10%;
}*/

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 3px;
  }
}

.box {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow-wrap: break-word;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-top: -32%; }

.trainer {
  position: absolute;
  bottom: 3%;
  left: 0px;
  cursor: pointer; 
  width:20%;
}